<template>
  <div class="about-main-info">
    MiniValidateForm - это мини-скрипт для получение данных с формы и валидации этой формы(по желанию).<br><br> Функционал скрипта: <br>
    <br>
    <ul>
      <li>Форма считывется с класса, который вы указываете в параметрах. Скрипт считывает данные c input только внутри этого класса.</li>
      <li>Есть возможно просто без валидации передавать данные формы, и потом их на выходе получать через метод.</li>
      <li>Есть возможность настроить кнопку по заполнености формы. Если все данные обязательные заполненны, то кнопка даст возможность отправить данные.</li>
      <li>Передача своего текста с информацией и назначение класса на текст.</li>
      <li>Можно указывать класс элемента, под которым вы хотите увидеть текст с информацией.</li>
      <li>Возможность сделать два вида текста: Один текст на обязательные поля, другой текст на проверка min и max длину.</li>
      <li>Есть возможность настроить поля только на проверку пустых полей при отправке или в реальном времени оттображать заполненность input формы.</li>
      <li>Есть определенный метод на то, что бы кнопку нельзя было обойти при отправке.</li>
    </ul>
  </div>
</template>

<script>
export default {
name: "about"
}
</script>

<style scoped>
.about-main-info {
  padding: 20px;
}
</style>
