<template>
  <div>
    <h2>Документация</h2>
    <div class="documentation-container" @click="changeTab({main: $refs.about, icon: $refs.aboutTab})">
      <div class="about-tab">
        <h4>Что такое MiniValidateForm?</h4>
        <div class="about-icon active-tab" ref="aboutTab">
          <span></span>
          <span></span>
        </div>
      </div>
      </div>
      <div class="documentation-information active"  ref="about" >
        <About/>
      </div>
    <div class="documentation-container" @click="changeTab({main: $refs.install, icon: $refs.installTab})" >
      <div class="about-tab">
        <h4>Как установить скрипт и запустить?</h4>
        <div class="about-icon" ref="installTab">
          <span></span>
          <span></span>
        </div>
      </div>
      </div>
      <div class="documentation-information" ref="install"  >
        <Instalation/>
      </div>
    <div class="documentation-container" @click="changeTab({main: $refs.params, icon: $refs.paramsTab})" >
      <div class="about-tab">
        <h4>Передаваемые параметры</h4>
        <div class="about-icon" ref="paramsTab">
          <span></span>
          <span></span>
        </div>
      </div>
      </div>
      <div class="documentation-information" ref="params">
        <Params/>
      </div>
    <div class="documentation-container" @click="changeTab({main: $refs.forms, icon: $refs.formsTab})" >
      <div class="about-tab">
        <h4>Демо</h4>
        <div class="about-icon" ref="formsTab">
          <span></span>
          <span></span>
        </div>
      </div>
      </div>
      <div class="documentation-information" ref="forms">
        <Forms/>
      </div>
  </div>
</template>

<script>
import About from './about'
import Instalation from './instalation'
import Params from './params'
import Forms from './forms/'

export default {
  name: "index",
  components: { About, Instalation, Params, Forms },
  methods: {
    changeTab(ref) {
      const { main, icon } = ref
      main.classList?.toggle('active')
      icon.classList?.toggle('active-tab')
    }
  }
}
</script>

<style>
.documentation-container {
  margin-top: 30px;
}
.documentation-information {
  display: none
}
.about-tab {
  margin-top: 30px;
  border: 2px solid white;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.about-tab:hover {
  background-color: #242424;
  transition: background-color .5s;
}
.about-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-icon > span {
  margin: 0;
  padding: 0;
  background-color: #242424;
  width: 20px;
  height: 2px;
  position: absolute;
}
.about-icon > span:first-child {
  transform: rotate(90deg);
}

.active-tab > span:first-child {
  transform: rotate(180deg);
}
.active {
  display: block;
  margin-top: 20px;
  border: 2px solid white;
  padding: 20px;
}
</style>
