<template>
  <div>
    <div class="about">
      Скачать скрипт для <a download href="../../files/miniValidateFormJS.js">Vanile JS </a> или <a download href="../../files/miniValidateForm.js"> для фреймворков </a>
    </div><br>
    <div class="about">
      Подключение на проекте: <br><br>
      Через html: <br>
      <PreCode padding="0 40px 30px 0" params='
      <body>
        <script src="to/path/miniValidateFormJS.js"></script> // Основной скрипт miniValidateForm
        <script src="to/path/main.js"></script> // Основной скрипт где прописывается параметры для класса miniValidateForm
      </body>'/>
      Через component во фреймворке можно подключить: <br>
      <PreCode padding="20px" params='import { setDataFromInputs } from "to/path/miniValidateForm.js"'/>
    </div>
    <div class="about">
        Настройка HTML: <br>
      <PreCode padding="0 40px 20px 0" params='
      <!-- Основная форма, класс формы с которым будем работать form-req -->
      <form class="form form-req">
        /*
        В теге select указываем ключ с вашей формы
        Второй класс мы указываем, что бы в под этим input вывести текст с информацей.
        */
        <input class="input-text" select="name" placeholder="name"/>
        <input class="input-text email-input" select="email" placeholder="email *"/>
        <input class="input-text password-input" select="password" type="password *" placeholder="password"/>
        <button type="button" class="btn-send" @click.stop="getForm">Отправить заявку</button>
       </form>'/>
    </div>
    <div class="about">
      Настройка в JS: <br><br>
      Vanile JS: <br>
      <PreCode padding="0 40px 20px 0" params="
      <!-- Прописать в main.js -->

      const form = new setDataFromInputs ({
        form: 'form-req',
        tagName: 'select',
        disabledBtn: true,
        validateFields: {
          email: {
            required: true,
            type: 'email',
            inputForErrorText: 'email-input',
            classTextError: 'email-error',
            text: '* Введите корректный email!'
          },
          password: {
            required: true,
            text: '* Пароль не должен быть пустым',
            inputForErrorText: 'password-input',
            classTextError: 'password-error',
            checkLength: {
              min: 6,
              max: 15,
              textLength: '* Пароль должен быть от 6 до 15 символов!'
            },
        },
        fieldsForm: {
          name: '',
          email: '',
          password: ''
        }
      })

      // Получаем данные с формы

      form.getListForm

      "/>
      <br>
      В компоненте фреймоврка(например Vue): <br>
      <PreCode padding="0 40px 20px 0" params="
      <script>

      import { setDataFromInputs } from '/src/helpers/miniValidateForm.js'

      export default {

         data: () => ({
           formRequest: {
             name: '',
             email: '',
             password: ''
           }
         }),

         methods: {
            initializationForm() {
              const form = new setDataFromInputs({
                form: 'form-req',
                tagName: 'select',
                disabledBtn: false,
                fieldsForm: this.formRequest,
                validateFields: {
                   email: {
                    required: true,
                    type: 'email',
                    inputForErrorText: 'email-input',
                    classTextError: 'email-error',
                    text: '* Введите корректный email!'
                  },
                  password: {
                    required: true,
                    text: '* Пароль не должен быть пустым',
                    inputForErrorText: 'password-input',
                    classTextError: 'password-error',
                    checkLength: {
                      min: 6,
                      max: 15,
                      textLength: '* Пароль должен быть от 6 до 15 символов!'
                    },
                  },
              })

              // Получаем данные с формы

                 form.getListForm
            }
          },

          mounted() {
            this.initializationForm()
          }

      }

      </script>
      "/>
    </div>
  </div>
</template>

<script>
import PreCode from "../documentation/PreCode"
export default {
  name: "instalation",
  components: { PreCode }
}
</script>

<style scoped>
</style>
