<template>
  <div>
    <ParamsWrapper params="form" about="Передается класс вашей формы. Класс должен прописан во всех родительских блоках если в этих блоках присувствует
          теги относящиеся к элементам формы."/>
    <ParamsWrapper params="tagName" about="В теге прописывается ключ вашего поля формы."/>
    <ParamsWrapper params="disableBtn" type="Boolean" about="Отключить кнопку или включить.При вкл. форма не будет отправлятся пока все обязательные поля не будут заполнены."/>
    <ParamsWrapper params="fieldsForm" type="Object" about="Поля с ключами вашей формы."/>
    <ParamsWrapper params="validateFields" type="Object" about="Если требуется валидация формы, то в нее вписываются дополнительные параметры. Первый элемент идет название ключа проверяемого поля."/>
    <ParamsWrapper params="validateFields -> keys" type="Object" about="Имеет такие параметры как required, defaultSelect, type, classTextError, inputForErrorText, text, checkLength."/>
    <ParamsWrapper params="required" type="Boolean" about="Включает проверку поля. Дефолтное значение false."/>
    <ParamsWrapper params="defaultSelect" about="Позволяет указать default текст. Если выбран default текст, то потребует заполнить поле."/>
    <ParamsWrapper params="type" about="Имеет один параметр 'email' - валидация на e-mail."/>
    <ParamsWrapper params="inputForErrorText"  about="Указываете класс под которым будет оттображатся текст с информацией."/>
    <ParamsWrapper params="classTextError" about="Указываете класс со стилями для информационного текста."/>
    <ParamsWrapper params="text" about="Прописываете информационный текст."/>
    <ParamsWrapper params="checkLength" type="Object" about="Включает в себя такие параметры как min, max, textLength."/>
    <ParamsWrapper params="min" type="Number"  about="Указываете минимальное колиечство символов для поля."/>
    <ParamsWrapper params="max" type="Number" about="Указываете максимальное колиечство символов для поля."/>
    <ParamsWrapper params="textLength"  about="Прописываете информационный текст, если условия min, max не были выполненны."/>
    <ParamsWrapper params="getListForm" type="Method"  about="Возвращает заполненную форму."/>
    <ParamsWrapper params="observeErrorLayout" type="Function"  about="Функция не дает обойти валидацию формы. Возвращает true или false."/>
  </div>
</template>

<script>
import ParamsWrapper from "./params-wrapper"
export default {
  name: "params",
  components: { ParamsWrapper }
}
</script>

<style scoped>

</style>
