<template>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p class="info">Параметр: <span>{{ params }}</span></p>
        </div>
        <div class="col-sm">
          <p class="info">Тип: <span>{{ type }}</span></p>
        </div>
        <div class="col-sm">
          <p class="info">Описание: <span>{{ about }}</span></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "params-wrapper",
  props: {
    params: {
      type: String
    },
    type: {
      type: String,
      default: "String"
    },
    about: {
      type: String
    }
  }
}
</script>

<style scoped>
.info > span {
  font-weight: bold;
}
</style>
