<template>
  <pre class="text-code-pre">
    <p :style="{padding: padding}" class="text-code" v-text="params"></p>
  </pre>
</template>

<script>
export default {
  name: "PreCode",
  props: {
    params: {
      type: String
    },
    padding: {
      type: String
    }
  }
}
</script>

<style scoped>
pre {
  display: flex;
  font-family: monospace;
  white-space: pre;
  margin: 20px 0;
}
.text-code {
  margin: 0;
  color: white;
  /*padding: 0 40px 30px 0;*/
}
.text-code-pre {
  min-height: 50px;
  background-color: #242424;
}
</style>
