<template>
  <header class="header">
    <h3>MiniValidateForm</h3>
  </header>
</template>

<script>
export default {
name: "index"
}
</script>

<style scoped>
  .header {
    background-color: #242424;
  }
  .header > h3 {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
  }
</style>
