<template>
  <div id="app">
      <Header/>
      <WrapperForm/>
  </div>
</template>

<script>
import WrapperForm from './components/wrapperForm/'
import Header from './components/header/'

export default {
  name: 'App',
  components: {
    WrapperForm,
    Header
  },
  mounted() {
    const getApp = document.getElementById('app')
    getApp.style.minHeight = document.documentElement.clientHeight + 'px'
  }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #131313;
  padding-bottom: 20px;
}


</style>
