<template>
  <div class="container">
    <div class="documentation">
      <Documentation/>
    </div>
  </div>
</template>

<script>

import Documentation from '../documentation/'

export default {
  name: "wrapperForm",
  components: { Documentation }
}

</script>

<style scoped>
  .documentation {
    margin-top: 40px;
  }
</style>
