<template>
  <div>
    <div class="about-form-wrapper">
      <div class="about-form-tab"  @click.stop="changeTab({main: $refs.mainForm, icon: $refs.mainFormIcon})">
        <h5 class="ml-4 mb-0">Простая форма для получения данных</h5>
        <div class="about-icon-tab" ref="mainFormIcon">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="form-tab" ref="mainForm">
        <MainForm/>
      </div>
    </div>
    <div class="about-info">
      <div class="about-form-tab"  @click.stop="changeTab({main: $refs.requiredForm, icon: $refs.requiredFormIcon})">
        <h5 class="ml-4 mb-0">Форма c обязательными полями</h5>
        <div class="about-icon-tab" ref="requiredFormIcon">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="form-tab" ref="requiredForm">
        <RequiredForm/>
      </div>
    </div>
    <div class="about-info">
      <div class="about-form-tab"  @click.stop="changeTab({main: $refs.lengthForm, icon: $refs.lengthFormIcon})">
        <h5 class="ml-4 mb-0">Форма c проверкой длины символов</h5>
        <div class="about-icon-tab" ref="lengthFormIcon">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="form-tab" ref="lengthForm">
        <LengthForm/>
      </div>
    </div>
  </div>
</template>

<script>
import MainForm from './MainForm'
import RequiredForm from './RequiredForm'
import LengthForm from './LengthForm'
export default {
  name: "index",
  components: { MainForm, RequiredForm, LengthForm },
  methods: {
    changeTab(ref) {
      const { main, icon } = ref
      main.classList?.toggle('form-tab-active')
      icon.classList?.toggle('about-icon-tab-active')
      // window.scrollTo({
      //   top: main.offset(),
      //   behavior: "smooth"
      // });
    }
  }
}
</script>
<style>
.about-info {
  margin-top: 60px;
}
.about-icon-tab {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-icon-tab > span {
  margin: 0;
  padding: 0;
  background-color: #242424;
  width: 20px;
  height: 2px;
  position: absolute;
}
.about-icon-tab > span:first-child {
  transform: rotate(90deg);
}

.about-icon-tab-active > span:first-child {
  transform: rotate(180deg);
}
.about-form-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 10px 10px 0;

}
.about-form-tab:hover {
  background-color: #242424;
  transition: background-color .5s;
}
.form-tab {
  display: none;
}
.form-tab-active {
  display: block
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #242424;
  width: 450px;
  min-height: 450px;
  padding: 20px;
  border-radius: 20px;
}
.form-req > h3 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.input-text, .textarea-text {
  max-width: 100%;
  border: none;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  font-size: 18px;
}

.input-text:focus, .textarea-text:focus {
  outline: none;
}

.textarea-text {
  height: 100px;
}

.title-input {
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  margin: 20px 0 !important;
}
.radio {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;

}
.checkbox-buy  {
  margin-bottom: 10px;
}
.checkbox-buy > input {
  margin-right: 10px;
}
.radio > input, .checkbox > input {
  margin-right: 10px;
}

.btn-send {
  border: 2px solid #1a237e;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  color: #1a237e;
  border-radius: 10px;
  padding: 5px 0;
}
.name-error {
  color: indianred;
}
.email-error {
  text-align: left;
  color: indianred;;
  height: 30px;
  animation: ease .6s movedown;
  margin-bottom: 0!important;
  margin-left: 10px;
}

@keyframes movedown {
  from { height: 0; }
  to { height: 30px; }
}

.password-error {
  color: indianred;
  font-size: 16px;
  margin-left: 10px;
}

.about-error {
  border: 2px solid indianred;
  padding: 10px;
  background-color: #242424;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-data > p {
  background-color: white;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px!important;
  color: #242424;
}

.form-data > p > span {
  font-size: 20px;
  margin-left: 8px;
  font-weight: 600;
  color: #242424;
}

.btn-send[disabled] {
  background-color: darkgray;
  border: 2px solid darkgray;
  color: white;
  cursor: not-allowed;
}
.select {
  margin-bottom: 30px;
  padding: 10px 10px
}
.form-result {
  position:relative;
  height: inherit
}
.form-result > h3 {
  text-align: center;
}
.form-data > p {
  color: #242424
}
.no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
