<template>
  <div class="container mt-4">
    <!--  ФОРМА -->
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 form-request  d-flex justify-content-start">
        <form class="form form-length">
          <h3>Тестовая форма</h3>
          <input class="input-text" select="name" placeholder="name"/>
          <input class="input-text email-input-length" select="email" placeholder="email *"/>
          <input class="input-text" select="password" type="password" placeholder="password"/>
          <textarea class="textarea-text about-input-length" select="about" placeholder="about *"></textarea>
          <div class="checkbox-group-input-length">
            <p class="title-input">Что желаете купить: * </p>
            <div class="checkbox-buy form-length">
              <input type="checkbox" id="monitor-length" value="Монитор" select="buy">
              <label for="monitor-length">Монитор</label>
            </div>
            <div class="checkbox-buy form-length">
              <input type="checkbox" id="ps-length" value="Приставка" select="buy">
              <label for="ps-length">Приставка</label>
            </div>
          </div>
          <div class="radio-group-input-length">
            <p class="title-input">Укажите тип доставки: *</p>
            <div class="radio form-length">
              <input type="radio" id="deliv-length" name="rdbtn-length" value="Доставка на дом"  select="typeDeliv">
              <label for="deliv-length">Доставка на дом</label>
            </div>
            <div class="radio form-length">
              <input type="radio" id="delivTwo-length" name="rdbtn-length" value="Самовывоз" select="typeDeliv">
              <label for="delivTwo-length">Самовывоз</label>
            </div>
          </div>
          <p class="title-input">Выберите одно из значений: </p>
          <select @change="setMultiple($event)" class="select-input-multiple" multiple="multiple" name="draw" select="multiple" id="draw">
            <option>Grumpy</option>
            <option>Happy</option>
            <option>Sleepy</option>
            <option>Bashful</option>
            <option>Sneezy</option>
            <option>Dopey</option>
            <option>Doc</option>
          </select>
          <p>Вы выбрали: {{multiple}}</p>
          <p style="color: orangered">{{textInfo}}</p>
          <p class="title-input">Укажите в какой город доставка: * </p>
          <select class="select select-city-input-length" select="selectCity">
            <option selected value="Не выбрано" >Не выбрано</option>
            <option value="Санкт-Петербург" >Санкт-Петербург</option>
            <option value="Москва">Москва</option>
            <option value="Казань">Казань</option>
          </select>
          <div class="checkbox checkbox-politic-input-length form-length">
            <input type="checkbox" id="politicRequire-length" select="politic">
            <label for="politicRequire-length">Я ознакомился с правилами *</label>
          </div>
          <button type="button" class="btn-send" @click.stop="getForm">Отправить заявку</button>
        </form>
      </div>
      <!--  РЕЗУЛЬТАТ-->
      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 form-request mt-4  d-flex justify-content-start" >
        <div class="form-wrapper-right" style="width: 100%">
          <div class="form form-result">
            <h3>Вывод формы</h3>
            <template v-if="Object.keys(formList).length !== 0">
              <div class="form-data">
                <p>Имя: <span>{{formList.name}}</span></p>
                <p>Email: <span>{{formList.email}}</span></p>
                <p>Пароль: <span>{{formList.password}}</span></p>
                <p>About: <span>{{formList.about}}</span></p>
                <p>Товар: <span>{{formList.buy}}</span></p>
                <p>Доставка: <span>{{formList.typeDeliv}}</span></p>
                <p>Мн.выбор: <span>{{formList.multiple}}</span></p>
                <p>Город доставки: <span>{{formList.selectCity}}</span></p>
                <p>Политика: <span>{{formList.politic}}</span></p>
              </div>
            </template>
            <template v-else>
              <p class="no-data">Нет данных</p>
            </template>
          </div>
        </div>
      </div>
      <div class="col">
        <h4 class="mt-3">Верстка HTML</h4>
        <PreCode padding="20px" :params="formLayout"/>
        <h4 class="mt-3">JS</h4>
        <PreCode padding="20px" :params="jsInfo"/>
      </div>
    </div>
  </div>
</template>

<script>
import { setDataFromInputs } from "@/helpers/miniValidateForm";

import PreCode from "../../documentation/PreCode"

export default {
  name: "LengthForm",
  components: { PreCode },
  data: () => ({
    formList: {},
    textInfo: '',
    multiple: [],
    jsInfo: '' +
        '      // Создаем новый обьект с полями\n\n' +
        '      const formRequest = {\n' +
        '        name: \'\',\n' +
        '        email: \'\',\n' +
        '        password: \'\',\n' +
        '        about: \'\',\n' +
        '        buy: [],\n' +
        '        typeDeliv: \'\',\n' +
        '        multiple: [],\n' +
        '        selectCity: \'\',\n' +
        '        politic: false,\n' +
        '      }\n' +
        '\n' +
        '      // Создаем новый класс\n\n' +
        '      let formReq = new setDataFromInputs({\n' +
        '        form: \'form-length\',\n' +
        '        tagName: \'select\',\n' +
        '        formFields: formRequest,\n' +
        '        disableBtn: false,\n' +
        '        validateFields: {\n' +
        '          email: {\n' +
        '            required: true,\n' +
        '            type: \'email\',\n' +
        '            inputForErrorText: \'email-input-length\',\n' +
        '            classTextError: \'email-error\',\n' +
        '            text: \'* Введите корректный email!\'\n' +
        '          },\n' +
        '          about: {\n' +
        '            required: true,\n' +
        '            text: \'* Поле не должен быть пустым\',\n' +
        '            inputForErrorText: \'about-input-length\',\n' +
        '            classTextError: \'password-error\',\n' +
        '            checkLength: {\n' +
        '              min: 20,\n' +
        '              max: 50,\n' +
        '              textLength: \'* Поле должно содержать от 20 до 50 символов!\'\n' +
        '            }\n' +
        '          },\n' +
        '          buy: {\n' +
        '            required: true,\n' +
        '            inputForErrorText: \'checkbox-group-input-length\',\n' +
        '            classTextError: \'about-error\',\n' +
        '            text: \'* Выберите одно из значений!\'\n' +
        '          },\n' +
        '          typeDeliv: {\n' +
        '            required: true,\n' +
        '            inputForErrorText: \'radio-group-input-length\',\n' +
        '            classTextError: \'about-error\',\n' +
        '            text: \'* Выберите одно из значений!\'\n' +
        '          },\n' +
        '          politic: {\n' +
        '            required: true,\n' +
        '            inputForErrorText: \'checkbox-politic-input-length\',\n' +
        '            classTextError: \'politic-error\',\n' +
        '            text: \'* Поле обязательно для заполнения!\'\n' +
        '          },\n' +
        '          selectCity: {\n' +
        '            required: true,\n' +
        '            defaultSelect: \'Не выбрано\n' +
        '            inputForErrorText: \'select-city-input-length\',\n' +
        '            classTextError: \'about-error\',\n' +
        '            text: \'* Выберите город!\'\n' +
        '          }\n' +
        '        }\n' +
        '      })\n' +
        '\n' +
        '      // formReq.observeErrorLayout() - Функция не дает обойти валидацию формы. Возвращает true или false\n' +
        '\n' +
        '      if (formReq.observeErrorLayout()) {\n' +
        '        // Получаем данные формы\n' +
        '        formReq.getListForm\n' +
        '      } else {\n' +
        '        console.log(\'Не все поля заполенны\')\n' +
        '      }',
    formLayout: '' +
        '<form class="form form-length">\n' +
        '          <h3>Тестовая форма</h3>\n' +
        '          <input class="input-text" select="name" placeholder="name"/>\n' +
        '          <input class="input-text email-input-length" select="email" placeholder="email *"/>\n' +
        '          <input class="input-text" select="password" type="password" placeholder="password"/>\n' +
        '          <textarea class="textarea-text about-input-length" select="about" placeholder="about *"></textarea>\n' +
        '          <div class="checkbox-group-input-length">\n' +
        '            <p class="title-input">Что желаете купить: * </p>\n' +
        '            <div class="checkbox-buy form-length">\n' +
        '              <input type="checkbox" id="monitor-length" value="Монитор" select="buy">\n' +
        '              <label for="monitor-length">Монитор</label>\n' +
        '            </div>\n' +
        '            <div class="checkbox-buy form-length">\n' +
        '              <input type="checkbox" id="ps-length" value="Приставка" select="buy">\n' +
        '              <label for="ps-length">Приставка</label>\n' +
        '            </div>\n' +
        '          </div>\n' +
        '          <div class="radio-group-input-length">\n' +
        '            <p class="title-input">Укажите тип доставки: *</p>\n' +
        '            <div class="radio form-length">\n' +
        '              <input type="radio" id="deliv-length" name="rdbtn-length" value="Доставка на дом"  select="typeDeliv">\n' +
        '              <label for="deliv-length">Доставка на дом</label>\n' +
        '            </div>\n' +
        '            <div class="radio form-length">\n' +
        '              <input type="radio" id="delivTwo-length" name="rdbtn-length" value="Самовывоз" select="typeDeliv">\n' +
        '              <label for="delivTwo-length">Самовывоз</label>\n' +
        '            </div>\n' +
        '          </div>\n' +
        '          <p class="title-input">Выберите одно из значений: </p>\n' +
        '          <select @change="setMultiple($event)" class="select-input-multiple" multiple="multiple" name="drawfs" select="multiple" id="drawfs">\n' +
        '            <option>Grumpy</option>\n' +
        '            <option>Happy</option>\n' +
        '            <option>Sleepy</option>\n' +
        '            <option>Bashful</option>\n' +
        '            <option>Sneezy</option>\n' +
        '            <option>Dopey</option>\n' +
        '            <option>Doc</option>\n' +
        '          </select>\n' +
        '          <p>Вы выбрали: {{multiple}}</p>\n' +
        '          <p style="color: orangered">{{textInfo}}</p>\n' +
        '          <p class="title-input">Укажите в какой город доставка: * </p>\n' +
        '          <select class="select select-city-input-length" select="selectCity">\n' +
        '            <option selected value="Санкт-Петербург" >Не выбрано</option>\n' +
        '            <option value="Санкт-Петербург" >Санкт-Петербург</option>\n' +
        '            <option value="Москва">Москва</option>\n' +
        '            <option value="Казань">Казань</option>\n' +
        '          </select>\n' +
        '          <div class="checkbox checkbox-politic-input-length form-length">\n' +
        '            <input type="checkbox" id="politicRequire-length" select="politic">\n' +
        '            <label for="politicRequire-length">Я ознакомился с правилами *</label>\n' +
        '          </div>\n' +
        '          <button type="button" class="btn-send" @click.stop="getForm">Отправить заявку</button>\n' +
        '        </form>',
  }),
  methods: {
    setMultiple(e) {
      if (this.multiple.includes(e.target.value)) {
        this.multiple = this.multiple.filter( function(payload) { return payload !== e.target.value } )
        this.textInfo = `Вы удалили из списка ${e.target.value}!`
        return
      } else {
        // Иначе записываем в массив
        this.multiple = [...this.multiple, e.target.value]
        this.textInfo = `Вы добавили в список ${e.target.value}!`
        return
      }
    },
    initializationForm() {
      // Создаем новый обьект с полями
      const formRequest = {
        name: '',
        email: '',
        password: '',
        about: '',
        buy: [],
        typeDeliv: '',
        multiple: [],
        selectCity: '',
        politic: false,
      }

      // Создаем новый класс
      let formReq = new setDataFromInputs({
        form: 'form-length',
        tagName: 'select',
        formFields: formRequest,
        disableBtn: false,
        validateFields: {
          email: {
            required: true,
            type: 'email',
            inputForErrorText: 'email-input-length',
            classTextError: 'email-error',
            text: '* Введите корректный email!'
          },
          about: {
            required: true,
            text: '* Поле не должен быть пустым',
            inputForErrorText: 'about-input-length',
            classTextError: 'password-error',
            checkLength: {
              min: 20,
              max: 50,
              textLength: '* Поле должно содержать от 20 до 50 символов!'
            }
          },
          buy: {
            required: true,
            inputForErrorText: 'checkbox-group-input-length',
            classTextError: 'about-error',
            text: '* Выберите одно из значений!'
          },
          typeDeliv: {
            required: true,
            inputForErrorText: 'radio-group-input-length',
            classTextError: 'about-error',
            text: '* Выберите одно из значений!'
          },
          politic: {
            required: true,
            inputForErrorText: 'checkbox-politic-input-length',
            classTextError: 'politic-error',
            text: '* Поле обязательно для заполнения!'
          },
          selectCity: {
            required: true,
            defaultSelect: 'Не выбрано',
            inputForErrorText: 'select-city-input-length',
            classTextError: 'about-error',
            text: '* Выберите город!'
          },
        }
      })

      // formReq.observeErrorLayout() - Функция не дает обойти валидацию формы. Возвращает true или false

      if (formReq.observeErrorLayout()) {
        // Получаем данные формы
        formReq.getListForm
      } else {
        console.log('Не все поля заполенны')
      }

      this.formClassReq = formReq

    },
    getForm() {
      if (this.formClassReq.observeErrorLayout()) {
        this.formList = this.formClassReq.getListForm
        // console.log('this.formList', this.formList)
      } else {
        console.log('Не все поля заполенны')
      }
    }
  },
  mounted() {
    this.initializationForm()
  }
}
</script>

<style scoped>
.form {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .form-wrapper-right {
    margin-top: 30px;
  }
}
</style>
