<template>
  <div class="container mt-4">
    <!--  ФОРМА -->
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 form-request  d-flex justify-content-start">
      <form class="form form-main">
        <h3>Тестовая форма</h3>
        <input class="input-text" select="name" placeholder="name"/>
        <div class="checkbox-group">
          <p class="title-input">Что желаете купить: </p>
          <div class="checkbox-buy form-main">
            <input type="checkbox" id="velosiped" value="Велописпед" select="buy">
            <label for="velosiped">Велописпед</label>
          </div>
          <div class="checkbox-buy form-main">
            <input type="checkbox" id="samokat" value="Самокат" select="buy">
            <label for="samokat">Самокат</label>
          </div>
        </div>
        <div class="radio-group">
          <p class="title-input">Укажите тип доставки: </p>
          <div class="radio form-main">
            <input checked type="radio" id="delivHome" name="deliv" value="Доставка на дом"  select="typeDeliv">
            <label for="delivHome">Доставка на дом</label>
          </div>
          <div class="radio form-main">
            <input type="radio" id="delivSelf" name="deliv" value="Самовывоз" select="typeDeliv">
            <label for="delivSelf">Самовывоз</label>
          </div>
        </div>
        <p class="title-input">Выберите одно из значений: * </p>
        <select @change="setMultiple($event)" class="select-input-multiple" multiple="multiple" name="drfs" select="multiple" id="drfs">
          <option>Grumpy</option>
          <option>Happy</option>
          <option>Sleepy</option>
          <option>Bashful</option>
          <option>Sneezy</option>
          <option>Dopey</option>
          <option>Doc</option>
        </select>
        <p>Вы выбрали: {{multiple}}</p>
        <p style="color: orangered">{{textInfo}}</p>
        <p class="title-input">Укажите в какой город доставка: </p>
        <select class="select" select="selectCity">
          <option value="Санкт-Петербург" selected>Санкт-Петербург</option>
          <option value="Москва">Москва</option>
          <option value="Казань">Казань</option>
        </select>
        <div class="checkbox form-main">
          <input type="checkbox" id="politicMain" select="politic">
          <label for="politicMain">Я ознакомился с правилами</label>
        </div>
        <button type="button" class="btn-send" @click.stop="getForm">Отправить заявку</button>
      </form>
      </div>
      <!--  РЕЗУЛЬТАТ-->
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 form-request mt-4 d-flex justify-content-start" >
          <div class="form-wrapper-right" style="width: 100%">
            <div class="form form-result">
              <h3>Вывод формы</h3>
              <template v-if="Object.keys(formList).length !== 0">
                <div class="form-data">
                  <p>Имя: <span>{{formList.name}}</span></p>
                  <p>Товар: <span>{{formList.buy}}</span></p>
                  <p>Доставка: <span>{{formList.typeDeliv}}</span></p>
                  <p>Мн.выбор: <span>{{formList.multiple}}</span></p>
                  <p>Город доставки: <span>{{formList.selectCity}}</span></p>
                  <p>Политика: <span>{{formList.politic}}</span></p>
                </div>
          </template>
          <template v-else>
            <p class="no-data">Нет данных</p>
          </template>
        </div>
      </div>
      </div>
      <div class="col">
        <h4 class="mt-3">Верстка HTML</h4>
        <PreCode padding="20px" :params="formLayout"/>
        <h4 class="mt-3">JS</h4>
        <PreCode padding="20px" :params="jsInfo"/>
      </div>
  </div>
  </div>
</template>

<script>
import { setDataFromInputs } from "@/helpers/miniValidateForm";

import PreCode from "../../documentation/PreCode"

export default {
  name: "MainForm",
  components: { PreCode },
  data: () => ({
    textInfo: '',
    multiple: [],
    formList: {},
    formClassReq: {},
    formRequest: {
      name: '',
      buy: [],
      typeDeliv: '',
      selectCity: '',
      politic: false,
    },
    jsInfo: '' +
        '     // Создаем новый обьект с полями\n' +
        '\n' +
        '      const formRequest = {\n' +
        '        name: \'\',\n' +
        '        multiple: [],\n' +
        '        buy: [],\n' +
        '        typeDeliv: \'\',\n' +
        '        selectCity: \'\',\n' +
        '        politic: false,\n' +
        '      }\n' +
        '\n' +
        '      // Создаем новый класс\n' +
        '\n' +
        '      let formReq = new setDataFromInputs({\n' +
        '        form: \'form-main\',\n' +
        '        tagName: \'select\',\n' +
        '        formFields: formRequest\n' +
        '      })\n' +
        '\n' +
        '      // Получаем данные формы\n' +
        '\n' +
        '      formReq.getListForm',
    formLayout: '' +
        '<form class="form form-main">\n' +
        '        <h3>Тестовая форма</h3>\n' +
        '        <input class="input-text" select="name" placeholder="name"/>\n' +
        '        <div class="checkbox-group">\n' +
        '          <p class="title-input">Что желаете купить: </p>\n' +
        '          <div class="checkbox-buy form-main">\n' +
        '            <input type="checkbox" id="velosiped" value="Велописпед" select="buy">\n' +
        '            <label for="velosiped">Велописпед</label>\n' +
        '          </div>\n' +
        '          <div class="checkbox-buy form-main">\n' +
        '            <input type="checkbox" id="samokat" value="Самокат" select="buy">\n' +
        '            <label for="samokat">Самокат</label>\n' +
        '          </div>\n' +
        '        </div>\n' +
        '        <div class="radio-group">\n' +
        '          <p class="title-input">Укажите тип доставки: </p>\n' +
        '          <div class="radio form-main">\n' +
        '            <input checked type="radio" id="delivHome" name="deliv" value="Доставка на дом"  select="typeDeliv">\n' +
        '            <label for="delivHome">Доставка на дом</label>\n' +
        '          </div>\n' +
        '          <div class="radio form-main">\n' +
        '            <input type="radio" id="delivSelf" name="deliv" value="Самовывоз" select="typeDeliv">\n' +
        '            <label for="delivSelf">Самовывоз</label>\n' +
        '          </div>\n' +
        '        </div>\n' +
        '        <p class="title-input">Выберите одно из значений: * </p>\n' +
        '        <select @change="setMultiple($event)" class="select-input-multiple" multiple="multiple" name="drawfs" select="multiple" id="drawfs">\n' +
        '          <option>Grumpy</option>\n' +
        '          <option>Happy</option>\n' +
        '          <option>Sleepy</option>\n' +
        '          <option>Bashful</option>\n' +
        '          <option>Sneezy</option>\n' +
        '          <option>Dopey</option>\n' +
        '          <option>Doc</option>\n' +
        '        </select>\n' +
        '        <p>Вы выбрали: {{multiple}}</p>\n' +
        '        <p style="color: orangered">{{textInfo}}</p>\n' +
        '        <p class="title-input">Укажите в какой город доставка: </p>\n' +
        '        <select class="select" select="selectCity">\n' +
        '          <option value="Санкт-Петербург" selected>Санкт-Петербург</option>\n' +
        '          <option value="Москва">Москва</option>\n' +
        '          <option value="Казань">Казань</option>\n' +
        '        </select>\n' +
        '        <div class="checkbox form-main">\n' +
        '          <input type="checkbox" id="politicMain" select="politic">\n' +
        '          <label for="politicMain">Я ознакомился с правилами</label>\n' +
        '        </div>\n' +
        '        <button type="button" class="btn-send" @click.stop="getForm">Отправить заявку</button>\n' +
        '      </form>'
  }),
  methods: {
    setMultiple(e) {
      if (this.multiple.includes(e.target.value)) {
        this.multiple = this.multiple.filter( function(payload) { return payload !== e.target.value } )
        this.textInfo = `Вы удалили из списка ${e.target.value}!`
        return
      } else {
        // Иначе записываем в массив
        this.multiple = [...this.multiple, e.target.value]
        this.textInfo = `Вы добавили в список ${e.target.value}!`
        return
      }
    },
    initializationForm() {

      // Создаем новый обьект с полями

      const formRequest = {
        name: '',
        multiple: [],
        buy: [],
        typeDeliv: '',
        selectCity: '',
        politic: false,
      }

      // Создаем новый класс

      let formReq = new setDataFromInputs({
        form: 'form-main',
        tagName: 'select',
        formFields: formRequest
      })

      // Получаем данные формы

      formReq.getListForm

      this.formClassReq = formReq

    },
    getForm() {
      if (this.formClassReq.observeErrorLayout()) {
        this.formList = this.formClassReq.getListForm

      } else {
        console.log('Не все поля заполенны')
      }
    }
  },
  mounted() {
    this.initializationForm()
  }
}
</script>

<style scoped>
.form {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .form-wrapper-right {
    margin-top: 30px;
  }
}
</style>
