<template>
  <div class="container mt-4">
    <!--  ФОРМА -->
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 form-request  d-flex justify-content-start">
        <form class="form form-required">
          <h3>Тестовая форма</h3>
          <input class="input-text name-input" select="name" placeholder="name *"/>
          <div class="checkbox-group-input">
            <p class="title-input">Что желаете купить: * </p>
            <div class="checkbox-buy form-required">
              <input type="checkbox" id="monitor" value="Монитор" select="buy">
              <label for="monitor">Монитор</label>
            </div>
            <div class="checkbox-buy form-required">
              <input type="checkbox" id="ps" value="Приставка" select="buy">
              <label for="ps">Приставка</label>
            </div>
          </div>
          <div class="radio-group-input">
            <p class="title-input">Укажите тип доставки: *</p>
            <div class="radio form-required">
              <input type="radio" id="deliv" name="rdbtn" value="Доставка на дом"  select="typeDeliv">
              <label for="deliv">Доставка на дом</label>
            </div>
            <div class="radio form-required">
              <input type="radio" id="delivTwo" name="rdbtn" value="Самовывоз" select="typeDeliv">
              <label for="delivTwo">Самовывоз</label>
            </div>
          </div>
          <p class="title-input">Выберите одно из значений: * </p>
          <select @change="setMultiple($event)" class="select-multiple" multiple="multiple" name="drawfs" select="multiple" id="drawfs">
            <option>Grumpy</option>
            <option>Happy</option>
            <option>Sleepy</option>
            <option>Bashful</option>
            <option>Sneezy</option>
            <option>Dopey</option>
            <option>Doc</option>
          </select>
          <p>Вы выбрали: {{multiple}}</p>
          <p style="color: orangered">{{textInfo}}</p>
          <p class="title-input">Укажите в какой город доставка: * </p>
          <select class="select select-city-input" select="selectCity">
            <option selected value="Санкт-Петербург" >Не выбрано</option>
            <option value="Санкт-Петербург" >Санкт-Петербург</option>
            <option value="Москва">Москва</option>
            <option value="Казань">Казань</option>
          </select>
          <div class="checkbox checkbox-politic-input form-required">
            <input type="checkbox" id="politicRequire" select="politic">
            <label for="politicRequire">Я ознакомился с правилами *</label>
          </div>
          <button type="button" class="btn-send" @click.stop="getForm">Отправить заявку</button>
        </form>
      </div>
      <!--  РЕЗУЛЬТАТ-->
      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mt-4 form-request  d-flex justify-content-start" >
        <div class="form-wrapper-right" style="width: 100%">
          <div class="form form-result" style="width: 100%;">
            <h3>Вывод формы</h3>
            <template v-if="Object.keys(formList).length !== 0">
              <div class="form-data">
                <p>Имя: <span>{{formList.name}}</span></p>
                <p>Товар: <span>{{formList.buy}}</span></p>
                <p>Доставка: <span>{{formList.typeDeliv}}</span></p>
                <p>Мн.выбор: <span>{{formList.multiple}}</span></p>
                <p>Город доставки: <span>{{formList.selectCity}}</span></p>
                <p>Политика: <span>{{formList.politic}}</span></p>
              </div>
            </template>
            <template v-else>
              <p class="no-data">Нет данных</p>
            </template>
          </div>
        </div>
      </div>
      <div class="col">
        <h4 class="mt-3">Верстка HTML</h4>
        <PreCode padding="20px" :params="formLayout"/>
        <h4 class="mt-3">JS</h4>
        <PreCode padding="20px" :params="jsInfo"/>
      </div>
    </div>
  </div>
</template>

<script>
import { setDataFromInputs } from "@/helpers/miniValidateForm";

import PreCode from "../../documentation/PreCode"

export default {
  name: "RequiredForm",
  components: { PreCode },
  data: () => ({
    textInfo: '',
    multiple: [],
    formList: {},
    jsInfo: '' +
        '      // Создаем новый обьект с полями\n\n' +
        '      const formRequest = {\n' +
        '        selectCity: \'\',\n' +
        '        typeDeliv: \'\',\n' +
        '        politic: false,\n' +
        '        buy: [],\n' +
        '        name: \'\',\n' +
        '        multiple: []\n' +
        '      }\n' +
        '\n' +
        '      // Создаем новый класс\n\n' +
        '      let formReq = new setDataFromInputs({\n' +
        '        form: \'form-required\',\n' +
        '        tagName: \'select\',\n' +
        '        formFields: formRequest,\n' +
        '        disableBtn: true,\n' +
        '        validateFields: {\n' +
        '          name: {\n' +
        '            required: true,\n' +
        '            inputForErrorText: \'name-input\',\n' +
        '            classTextError: \'name-error\',\n' +
        '            text: \'* Поле имя не должно быть пустым!\'\n' +
        '          },\n' +
        '          buy: {\n' +
        '            required: true,\n' +
        '            inputForErrorText: \'checkbox-group-input\',\n' +
        '            classTextError: \'about-error\',\n' +
        '            text: \'* Выберите одно из значений!\'\n' +
        '          },\n' +
        '          typeDeliv: {\n' +
        '            required: true,\n' +
        '            inputForErrorText: \'radio-group-input\',\n' +
        '            classTextError: \'about-error\',\n' +
        '            text: \'* Выберите одно из значений!\'\n' +
        '          },\n' +
        '          politic: {\n' +
        '            required: true,\n' +
        '            inputForErrorText: \'checkbox-politic-input\',\n' +
        '            classTextError: \'about-error\',\n' +
        '            text: \'* Поле обязательно для заполнения!\'\n' +
        '          },\n' +
        '          selectCity: {\n' +
        '            required: true,\n' +
        '            type: \'select\',\n' +
        '            inputForErrorText: \'select-city-input\',\n' +
        '            classTextError: \'about-error\',\n' +
        '            text: \'* Выберите город!\'\n' +
        '          },\n' +
        '          multiple: {\n' +
        '            required: true,\n' +
        '            type: \'select\',\n' +
        '            inputForErrorText: \'select-input-multiple\',\n' +
        '            classTextError: \'about-error\',\n' +
        '            text: \'* Поле не должно быть пустым!\'\n' +
        '          }\n' +
        '        }\n' +
        '      })\n' +
        '\n' +
        '      // formReq.observeErrorLayout() - Метод не дает обойти валидацию формы. Возвращает true или false\n' +
        '\n' +
        '      if (formReq.observeErrorLayout()) {\n' +
        '        // Получаем данные формы\n' +
        '        formReq.getListForm\n' +
        '      } else {\n' +
        '        console.log(\'Не все поля заполенны\')\n' +
        '      }',
    formLayout: '' +
        '<form class="form form-required">\n' +
        '          <h3>Тестовая форма</h3>\n' +
        '          <input class="input-text name-input" select="name" placeholder="name *"/>\n' +
        '          <div class="checkbox-group-input">\n' +
        '            <p class="title-input">Что желаете купить: * </p>\n' +
        '            <div class="checkbox-buy form-required">\n' +
        '              <input type="checkbox" id="monitor" value="Монитор" select="buy">\n' +
        '              <label for="monitor">Монитор</label>\n' +
        '            </div>\n' +
        '            <div class="checkbox-buy form-required">\n' +
        '              <input type="checkbox" id="ps" value="Приставка" select="buy">\n' +
        '              <label for="ps">Приставка</label>\n' +
        '            </div>\n' +
        '          </div>\n' +
        '          <div class="radio-group-input">\n' +
        '            <p class="title-input">Укажите тип доставки: *</p>\n' +
        '            <div class="radio form-required">\n' +
        '              <input type="radio" id="deliv" name="rdbtn" value="Доставка на дом"  select="typeDeliv">\n' +
        '              <label for="deliv">Доставка на дом</label>\n' +
        '            </div>\n' +
        '            <div class="radio form-required">\n' +
        '              <input type="radio" id="delivTwo" name="rdbtn" value="Самовывоз" select="typeDeliv">\n' +
        '              <label for="delivTwo">Самовывоз</label>\n' +
        '            </div>\n' +
        '          </div>\n' +
        '          <p class="title-input">Выберите одно из значений: * </p>\n' +
        '          <select @change="setMultiple($event)" class="select-multiple" multiple="multiple" name="drawfs" select="multiple" id="drawfs">\n' +
        '            <option>Grumpy</option>\n' +
        '            <option>Happy</option>\n' +
        '            <option>Sleepy</option>\n' +
        '            <option>Bashful</option>\n' +
        '            <option>Sneezy</option>\n' +
        '            <option>Dopey</option>\n' +
        '            <option>Doc</option>\n' +
        '          </select>\n' +
        '          <p>Вы выбрали: {{multiple}}</p>\n' +
        '          <p style="color: orangered">{{textInfo}}</p>\n' +
        '          <p class="title-input">Укажите в какой город доставка: * </p>\n' +
        '          <select class="select select-city-input" select="selectCity">\n' +
        '            <option selected value="Санкт-Петербург" >Не выбрано</option>\n' +
        '            <option value="Санкт-Петербург" >Санкт-Петербург</option>\n' +
        '            <option value="Москва">Москва</option>\n' +
        '            <option value="Казань">Казань</option>\n' +
        '          </select>\n' +
        '          <div class="checkbox checkbox-politic-input form-required">\n' +
        '            <input type="checkbox" id="politicRequire" select="politic">\n' +
        '            <label for="politicRequire">Я ознакомился с правилами *</label>\n' +
        '          </div>\n' +
        '          <button type="button" class="btn-send" @click.stop="getForm">Отправить заявку</button>\n' +
        '        </form>'
  }),
  methods: {
    setMultiple(e) {
      if (this.multiple.includes(e.target.value)) {
        this.multiple = this.multiple.filter( function(payload) { return payload !== e.target.value } )
        this.textInfo = `Вы удалили из списка ${e.target.value}!`
        return
      } else {
        // Иначе записываем в массив
        this.multiple = [...this.multiple, e.target.value]
        this.textInfo = `Вы добавили в список ${e.target.value}!`
        return
      }
    },
    initializationForm() {
      // Создаем новый обьект с полями
      const formRequest = {
        selectCity: '',
        typeDeliv: '',
        politic: false,
        buy: [],
        name: '',
        multiple: []
      }

      // Создаем новый класс
      let formReq = new setDataFromInputs({
        form: 'form-required',
        tagName: 'select',
        formFields: formRequest,
        disableBtn: true,
        validateFields: {
          name: {
            required: true,
            inputForErrorText: 'name-input',
            classTextError: 'name-error',
            text: '* Поле имя не должно быть пустым!'
          },
          buy: {
            required: true,
            inputForErrorText: 'checkbox-group-input',
            classTextError: 'about-error',
            text: '* Выберите одно из значений!'
          },
          typeDeliv: {
            required: true,
            inputForErrorText: 'radio-group-input',
            classTextError: 'about-error',
            text: '* Выберите одно из значений!'
          },
          politic: {
            required: true,
            inputForErrorText: 'checkbox-politic-input',
            classTextError: 'about-error',
            text: '* Поле обязательно для заполнения!'
          },
          selectCity: {
            required: true,
            inputForErrorText: 'select-city-input',
            classTextError: 'about-error',
            text: '* Выберите город!'
          },
          multiple: {
            required: true,
            inputForErrorText: 'select-multiple',
            classTextError: 'name-error',
            text: '* Поле не должно быть пустым!'
          }
        }
      })

      // formReq.observeErrorLayout() - Метод не дает обойти валидацию формы. Возвращает true или false

      if (formReq.observeErrorLayout()) {
        // Получаем данные формы
        formReq.getListForm
      } else {
        console.log('Не все поля заполенны')
      }

      this.formClassReq = formReq

    },
    getForm(e) {
      e.preventDefault()

      if (this.formClassReq.observeErrorLayout()) {
        this.formList = this.formClassReq.getListForm
      } else {
        console.log('Не все поля заполенны')
      }
    }
  },
  mounted() {
    this.initializationForm()
  }
}
</script>

<style>
.form {
  width: 100%;
}
.email-error {
  text-align: left;
  color: indianred;;
  height: 30px;
  animation: ease .6s movedown;
  margin-bottom: 0!important;
  margin-left: 10px;
}

@keyframes movedown {
  from { height: 0; }
  to { height: 30px; }
}

.password-error {
  color: indianred;
  font-size: 16px;
  margin-left: 10px;
}

.about-error {
  border: 2px solid indianred;
  padding: 10px;
  background-color: #242424;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .form-wrapper-right {
    margin-top: 30px;
  }
}
</style>
